* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  background-color: #20211C;
  font-family: Arial, Helvetica, sans-serif;
}

.fundo {
  position: absolute;
  left: 25%;
  width: 50%;
  height: 90%;
  padding: 0 25px 0 25px;

  background-color: #2b2927;
  color: white;
  border-radius: 0 0 8px 8px;
  overflow: hidden;
}

.tit_filme {
  position: absolute;
  top: 55%;
  padding-left: 15px;
}

.fundo_filme img{
  box-sizing: inherit;
  position: absolute;
  top: 0;
  width: calc(100% - 50px);
  height: 65%;
  border-radius: 0 0 10px 10px;
  border-image: none;

 -webkit-mask-image: linear-gradient(to top, transparent 12%, black 100%);
}

.text_sinopse p{
  box-sizing: inherit;
  position: absolute;
  top: 65%;
  padding-left: 15px;
  width: 75%;

  text-align: justify;
  font-size: 17px;
}

.btn_watch {
  position: absolute;
  top: 54%;
  right: 55px;
  width: 15%;
  height: 5%;
  border: none;
  border-radius: 8px;
  font-size: 17px;
  border: none;
  color: black;
  text-decoration: none;
}

.btn_watch a {
  padding: 0;
  margin: 0;
}

.btn_watch a:hover {
  transition: all 1s;
  color: white;
  background-color: #20211C;
  border: white 1px solid;
}

.info_filme {
  position: absolute;
  bottom: 40px;
  margin-left: 20px;
}

.info_filme p { 
  font-size: 15px;
  margin-bottom: 5px;
}

.tit_rodape {
  box-sizing: inherit;
  bottom: 20px;
  padding-top: 10px;

  font-size: 15px;
  color: white;
}

footer {
  position: absolute;
  bottom: 0;
  height: 7%;
  width: 100%;
  background-color: #2b2927;

  text-align: center;
}